@import '~antd/dist/antd.css';

.icon-entry-slider-entry-box {
    text-align: center;
    height: 70px;
}

.icon-entry-slider-entry-box-no-name {
    text-align: center;
    height: 50px;
}

.icon-entry-slider-entry-icon {
    width: 75%;
}

.icon-entry-slider-entry-icon:hover {
    width: 80%;
}

.icon-entry-slider-entry-name{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 3px;
    font-weight: lighter;
    color: white;
}
